.footer-bottom {
    height: 120px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    display: flex;
    background-color:#303030;

    #sign-up {
        border: 2px solid #0282F9;
        background-color: #303030;
        color: white;
        padding: 20px;
        font-size: 1.1rem;

    }

    span {
        font-weight: bold;
        font-size: 1.3rem;
        color: #0282F9;
        position: relative;
        top: 6px;
    }

    nav {
        display: flex;
        gap: 15px;
    }
}